[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "NextEngine/vendor/assimp"]
	path = NextEngine/vendor/assimp
	url = https://github.com/CompilerLuke/assimp.git
[submodule "NextEngine/vendor/glfw"]
	path = NextEngine/vendor/glfw
	url = https://github.com/CompilerLuke/glfw.git
[submodule "NextEngine/vendor/bullet3"]
	path = NextEngine/vendor/bullet3
	url = https://github.com/CompilerLuke/bullet3.git
[submodule "NextEngineEditor/vendor/ImGuizmo"]
	path = NextEngineEditor/vendor/ImGuizmo
	url = https://github.com/CompilerLuke/ImGuizmo.git
